
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web">

    <test name="Web Test">
        <classes>
            <class name="scenarios.TestHw2">
                <methods>
                    <include name="WebTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>