<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web">
    <test name="Web Test">
        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>
        <classes>
            <class name="scenarios.TestWeb"></class>
        </classes>
    </test>
</suite>